@use '../styles/mixins';
@use '../styles/placeholders';

.redirectPage{

    @extend %main-container;
    background-image: linear-gradient(180deg, 
    transparent,
    transparent, 
    var(--color-bg-01), 
    var(--color-bg-02), 
    var(--color-bg-03), 
    var(--color-bg-04)), 
    url(/images/e33bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    gap: 7px;

    h1{
        @extend %h1-md-02;
    }

    button{
        @extend %btn-outline;
    }

    @include mixins.respond-to(sm){
        
            
            h1{
                font-size: 1.25em;
                text-align: center;
            }

            button{
                font-size: .8em;
            }
        }
    

}

